.movie-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    color: #fff;
}

.movie-heading-container > h2 {
    margin: 0;
    padding-left: 50px;
    font-size: 3em;
}

.movieHeadingDetails {
    list-style: none;
}

.movie-description-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.movie-description-container > p {
    width: 75%;
}

.poster-movie-view {
    width: 13vw;
}