@import '../styles.scss';

@mixin movie-box-shadow {
    box-shadow: 0 0 20px #000;
}

.movie-container {
    width: 80vw;
    padding: 0 10vw;
    height: 100vh;
}

.movie-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 2vw;
    color: #fff;
    background: #000;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    h2 {
            margin: 0;
            font-size: 3em;
        }
}

.movie-heading-description-container {
    width: 35vw;
    h2 {
        color: $green;
        font-family: 'Tiro Devanagari Hindi', serif;
    }
}

.movie-heading-details {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: lighter;
}

.no-wrap {
    white-space: nowrap;
}

.movie-description-container {
    display: flex;
    justify-content: space-between;
    margin: 10vh 0;
    height: 50%;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: $off-black;
    border-radius: 7px;
    box-shadow: 0 0 10px #000;
}

.tagline,
.description {
    margin: 2vw 0 0 2vw;
    width: 90%;
    max-width: 800px;
}

.tagline {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 1.4em;
    font-weight: lighter;
    color: $green;
}

.description {
    @include movie-box-shadow;
    background-color: $light-grey;
    padding: 20px;
    font-size: 1.1em;
    border-radius: 7px;
}

.poster-movie-view {
    @include movie-box-shadow;
    height: 75%;
    margin: 2vw;
    border-radius: 7px;
}

.error-movie {
    height: 100vh;
    p {
        font-size: 1.8em;
    }
}