@import '../styles.scss';

.App {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: $dark-grey;
}

.error {
    font-family: sans-serif;
    font-size: larger;
    font-weight: lighter;
    color: red;
    text-align: center;
}