@import '../styles.scss';

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    background-color: $dark-grey;
    padding: 0;
    font-size: 150%;
    height: 100%;
    width: 100vw;
}

.movies-container>img {
    height: auto;
    width: 80%;
    padding: 0;
    margin:20px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        margin: 10px;
        width: calc(80% + 10px);
        box-shadow: 0 0 20px #000;
    }
}